<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
  <h1>Your Online Styler</h1>
 <body>
   <h3><%=@shirt_choice%> and <%=@pant_choice%> are a bad choice.</h3>
  </body>
</html>