<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
  <h1>Your Online Styler</h1>
 <body>
   <h3>The <%="#{@shirt_color} #{@shirt_style} with the #{@pant_color}" "#{@pant_style}"%> are a bad choice.</h3>
  </body>
</html>