<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
  <h1>Your Online Styler</h1>
 <body>
   <h2>The <%="#{@shirt_color} #{@shirt_style} with the #{@pant_color} #{@pant_style}"%> are a good choice for you.</h2>
   <img src=<%=@shirt_url%> width="400px">
   <br>
   <img src=<%=@pant_url%> width="400px">
  </body>
</html>