<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Your Online Styler</h1>
<<<<<<< HEAD
   <h2>The <%="#{@shirt_color} #{@shirt_style} with the #{@pant_color}" "#{@pant_style}"%> is a good choice.</h2>
=======
   <h2>The <%="#{@shirt_color} #{@shirt_style} with the #{@pant_color} #{@pant_style}"%> are a good choice.</h2>
>>>>>>> 2ee418f654a4d009f64a5ca225d9371279268923
  </body>
</html> 
