<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link type="text/css" rel="stylesheet" href="stylesheet.css" />
 </head>
 <body>
   <h1>Your Online Styler</h1>
   <div>
     <a href="./index.erb">Click to begin</a>
   </div>
  </body>
</html>