<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
  <h1>Your Online Styler</h1>
 <body>
   <p>This website is designed to allow you to improve your fashion sense: one outfit at a time.
   </p>
   <br>
   <p> Choose a pair of pants:
   </p>
   <br>
     <form action="/results" method="post">
        <div>
  <input type="radio" name="pants" value="Khaki Pants"> <img src=http://www.bananarepublic.com/products/res/mainimg/aiden-slim-lightweight-chino-khaki.jpg><br>
  <input type="radio" name="shirt" value="White T-Shirt"> <img src=http://www.xpressionphotography.com/sy-photos/2014/04/21/18/small_988435_t-shirts.jpg><br>
  <input type="radio" name="shirt" value="Gray T-Shirt"> <img src=http://static3.shop.indiatimes.com/images/products/additional/original/B2207085_View_1/fashion/t-shirts/andyou-grey-plain-men-t-shirt-dod-ts-107.jpg><br>
  </div>
       <p> What top are you matching with those pants?</p>
   <div>
  <input type="radio" name="shirt" value="Black T-Shirt"> <img src= http://p.globalsources.com/IMAGES/PDT/B1074198063/Mens-V-neck-T-shirt.jpg><br>
  <input type="radio" name="shirt" value="White T-Shirt"> <img src=http://www.xpressionphotography.com/sy-photos/2014/04/21/18/small_988435_t-shirts.jpg><br>
  <input type="radio" name="shirt" value="Gray T-Shirt"> <img src=http://static3.shop.indiatimes.com/images/products/additional/original/B2207085_View_1/fashion/t-shirts/andyou-grey-plain-men-t-shirt-dod-ts-107.jpg><br>
  <input type="submit">
    </div>
     </form>
   
  </body>
</html>