<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
  <h1>Your Online Styler</h1>
 <body>
   <p>This website is designed to allow you to improve your fashion sense: one outfit at a time.
   </p>
   
   <h3>Khaki Chino Pants</h3>
   <img src=http://www.bananarepublic.com/products/res/mainimg/aiden-slim-lightweight-chino-khaki.jpg>

   <p> Which top do you think goes best with these pants?
   </p>
   
   <h3> Black T-shirt </h3>
   <img src= http://p.globalsources.com/IMAGES/PDT/B1074198063/Mens-V-neck-T-shirt.jpg>
   
   
  </body>
</html>