
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Stylist</title>
  <link type="text/css" rel="stylesheet" href="stylesheet.css" />
   <link href='http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans:400,600|Lobster|Shadows+Into+Light|Pacifico|Oswald' rel='stylesheet' type='text/css'>>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans|Pacifico' rel='stylesheet' type='text/css'>
 </head>
  
 <body>
   <h1>Your Online Stylist <span id="MEN">FOR MEN</span></h1>
   <p>This website is designed to help you to improve your fashion sense: one outfit at a time.
   </p>
   <br>
   <h2 id=shirts>Shirts </h2>
   <br> 
   <div> 
     <h4>Style</h4>
     <span id="shirt_color">
     <p>Choose a shirt style:</p>
       <form action="/results" method= "POST">
         <input type="radio" name="shirt" value="t-shirt"> T-shirt <br>
         <input type="radio" name="shirt" value="button_down"> Button down <br>
       </form>
     </span>
   </div>
   <br>
   <div>
     <h4>Color</h4>
     <span id="shirt_color">
     <p>Choose a shirt color:</p>
       <form action="/results" method= "POST">
         <input type="radio" name="shirt_color" value="red"> Red <br>
         <input type="radio" name="shirt_color" value="orange"> Orange <br>
         <input type="radio" name="shirt_color" value="yellow"> Yellow <br>
         <input type="radio" name="shirt_color" value="green"> Green <br>
         <input type="radio" name="shirt_color" value="blue"> Blue <br>
         <input type="radio" name="shirt_color" value="purple"> Purple <br>
         <input type="radio" name="shirt_color" value="black"> Black <br>
         <input type="radio" name="shirt_color" value="gray"> Gray <br>
         <input type="radio" name="shirt_color" value="navy"> Navy <br>
         <input type="radio" name="shirt_color" value="white"> White <br>
         <input type="radio" name="shirt_color" value="print/graphic/plaid"> Print/graphic/plaid <br>
         <input type="radio" name="shirt_color" value="denim"> Denim <br>
       </form>
     </span>
   </div>
   <br>
   <h2>Pants</h2>
   <br>
   <div>
     <h4>Style</h4>
     <span id="pant_style">
     <p>Choose a pant style:</p>
       <form action="/results" method= "POST">
         <input type="radio" name="pants" value="jeans"> Jeans <br>
         <input type="radio" name="pants" value="khakis"> Khakis <br>
       </form>
     </span>
   </div>
   <br>
   <div>
     <h4>Color</h4>
     <span id="pant_color">
     <p>Choose a pant color:</p>
       <form action="/results" method= "POST">
         <input type="radio" name="pant_color" value="red"> Red <br>
         <input type="radio" name="pant_color" value="orange"> Orange <br>
         <input type="radio" name="pant_color" value="yellow"> Yellow <br>
         <input type="radio" name="pant_color" value="green"> Green <br>
         <input type="radio" name="pant_color" value="blue"> Blue <br>
         <input type="radio" name="pant_color" value="purple"> Purple <br>
         <input type="radio" name="pant_color" value="black"> Black <br>
         <input type="radio" name="pant_color" value="gray"> Gray <br>
         <input type="radio" name="pant_color" value="navy"> Navy <br>
         <input type="radio" name="pant_color" value="white"> White <br>
         <input type="radio" name="pant_color" value="print/graphic/plaid"> Print/graphic/plaid <br>
         <input type="radio" name="pant_color" value="denim"> Denim <br>
         <input type="submit"> <br>
       </form>
     </span>
   </div>
  </body>
</html>