<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Online Styler</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
  <h1>Your Online Styler</h1>
   <p>This website is designed to allow you to improve your fashion sense: one outfit at a time.
   </p>
 <body>
   <h2> Shirts </h2>
   <br>
   <p>Choose a style of shirt: </p>
   <div> 
     <h4> Shirt Style </h4>
       <form action="/results" method= "POST">
         <input type="radio" name="shirt" value="tshirt"> Tshirt <br>
         <input type="radio" name="shirt" value="button_down"> Button-Down <br>
       </form>
   </div>
   <br>
   <p>Choose a shirt color:</p>
   <div>
     <h4> Shirt Color </h4>
        <form action="/results" method= "POST">
         <input type="radio" name="shirt_color" value="red"> red <br>
         <input type="radio" name="shirt_color" value="orange"> orange <br>
         <input type="radio" name="shirt_color" value="yellow"> yellow <br>
         <input type="radio" name="shirt_color" value="green"> green <br>
         <input type="radio" name="shirt_color" value="blue"> blue <br>
         <input type="radio" name="shirt_color" value="purple"> purple <br>
         <input type="radio" name="shirt_color" value="black"> black <br>
         <input type="radio" name="shirt_color" value="gray"> gray <br>
         <input type="radio" name="shirt_color" value="navy"> navy <br>
         <input type="radio" name="shirt_color" value="white"> white <br>
         <input type="radio" name="shirt_color" value="print/graphic/plaid"> print/graphic?plaid <br>
         <input type="radio" name="shirt_color" value="denim"> denim <br>
        </form>
   </div>
   <br>
   <p>Choose a pant style: </p>
   <div>
     <h2> Pant Style </h2>
     <form action="/results" method= "POST">
         <input type="radio" name="pants" value="jeans"> Jeans <br>
         <input type="radio" name="pants" value="khakis"> Khakis <br>
       </form>
   </div>
   <br>
   <p> Choose a pant color:
   </p>
    <div>
     <h4> Pant Color </h4>
        <form action="/results" method= "POST">
         <input type="radio" name="pant_color" value="red"> red <br>
         <input type="radio" name="pant_color" value="orange"> orange <br>
         <input type="radio" name="pant_color" value="yellow"> yellow <br>
         <input type="radio" name="pant_color" value="green"> green <br>
         <input type="radio" name="pant_color" value="blue"> blue <br>
         <input type="radio" name="pant_color" value="purple"> purple <br>
         <input type="radio" name="pant_color" value="black"> black <br>
         <input type="radio" name="pant_color" value="gray"> gray <br>
         <input type="radio" name="pant_color" value="navy"> navy <br>
         <input type="radio" name="pant_color" value="white"> white <br>
         <input type="radio" name="pant_color" value="print/graphic/plaid"> print/graphic/plaid <br>
         <input type="radio" name="pant_color" value="denim"> denim <br>
         <input type="submit"> <br>
        </form>
   </div>
  </body>
</html>