/* selector {
  property: value; 
  property: value;
} */


     

h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 34px;
    color: #FFFFFF  ;
    background-color: #ff4444;
    text-decoration: underline
}

h4 {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #ff4444
}
body {
     background-color: #d3dfe4
}
      

h1 {
  font-family:'Oswald', sans-serif;
  font-size:40px;
  color: #FFFFFF
}