/* selector {
  property: value; 
  property: value;
} */
h1 {
  font-family: Arial;
  font-weight: lighter;
  color: #FF6666
}
#MEN {
  font-family: Arial;
  font-weight: lighter;
  font-size: 15px;
  color: #FF9999
}

h2 {
  font-family: Arial;
  font-weight: lighter;
  color: #FF9999
}

h4 {
  font-family: Arial;
  font-weight: bold;
  color: #363636;
}

p {
  font-family: Arial;
  font-weight: 100;
  color: #868686;
}

div > form {
  font-family: Arial;
  font-weight: 100;
  color: #363636;
}

div {
  font-style: Arial;
  font-weight: 100;
	border-radius: 15px;
	border: 2px solid #ff6666;
	background-color: #ff9999;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
  text-decoration: none
}

#shirt_style {
  font-style: Arial;
  font-weight: 100;
	background-color: #868686;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: left;
  text-decoration: none;
  float: left
}

#shirt_color {
  font-style: Arial;
  font-weight: 100;
	background-color: #dbdbdb;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: left;
  text-decoration: none;
  float: right
}
