/* selector {
  property: value; 
  property: value;
} */

h2 {
    font-family: "Slabo"
    font-size: 27px
    color: #FFFFFF  
    font-decoration: underline
     
}

h4 {
    font-family: "Bree Serif"
    font-size: 40px
    color: #FFFFFF
    font-decoration: bold  
}
body {
     background-color: #d3dfe4;
}
      
    
}